@use 'sass:color';

.t-button {
  $types: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399,
  );

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #606266;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  transition: 0.1s;

  // 尺寸
  &--medium {
    padding: 8px 15px;
    font-size: 14px;
  }

  &--small {
    height: 24px;
    padding: 5px 11px;
    font-size: 12px;
  }

  &--large {
    height: 40px;
    padding: 12px 19px;
    font-size: 16px;
  }

  // 状态
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.is-loading {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.is-round {
    border-radius: 20px;
  }

  &.is-circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;

    &.t-button--small {
      width: 24px;
      height: 24px;
    }

    &.t-button--large {
      width: 40px;
      height: 40px;
    }
  }

  // 文本按钮
  &.is-text {
    color: #606266;
    background: transparent;
    border: none;

    &.is-bg {
      background-color: #f5f7fa;
    }

    &:hover {
      background-color: #f5f7fa;
    }
  }

  // 链接按钮
  &.is-link {
    color: #409eff;
    text-decoration: underline;
    background: transparent;
    border: none;

    &:hover {
      color: #66b1ff;
    }
  }

  // 加载图标
  .loading-icon {
    margin-right: 5px;
    animation: rotate 1s linear infinite;
  }

  // 图标
  i {
    margin-right: 5px;
  }

  .button-text {
    margin-left: 5px;
  }

  // 类型
  @each $type, $color in $types {
    &--#{$type} {
      color: #fff;
      background-color: $color;
      border-color: $color;

      &:hover {
        $hover-color: color.mix(#fff, $color, 20%);

        background: $hover-color;
        border-color: $hover-color;
      }
    }

    &.is-plain.t-button--#{$type} {
      color: $color;
      background: color.mix(#fff, $color, 90%);
      border-color: color.mix(#fff, $color, 60%);

      &:hover {
        color: #fff;
        background: $color;
        border-color: $color;
      }
    }

    &.is-text.t-button--#{$type} {
      color: $color;
      background: transparent;
      border: none;

      &.is-bg {
        background-color: color.mix(#fff, $color, 90%);
      }

      &:hover {
        background-color: color.mix(#fff, $color, 80%);
      }
    }

    &.is-link.t-button--#{$type} {
      color: $color;
      text-decoration: underline;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
